<br>
<div class="container my-5 mx-auto col-4">
    <h1 class="text-center text-primary"><i class="fa-solid fa-database"></i> CRM APP</h1>
    <h2 class="text-center"><i class="fa-solid fa-address-card"></i> REGISTER</h2>
    <form #loginForm="ngForm" (ngSubmit)="submitRegister()">
        <div class="form-group col-12">
            <label for="email">Email:</label>
                <input 
                    type="email"
                    class="form-control" 
                    id="email"
                    name="email"
                    email
                    placeholder="YourEmail@gmail.com"
                    [(ngModel)]="user.email"
                    #email="ngModel"
                    required
                    minlength="6">
                    <small *ngIf="email.invalid && email.touched" style="color: red">Invalid email</small>
        </div>
        <div class="form-group ">
            <label for="password">Password: </label>
                <input 
                    type="password"
                    class="form-control" 
                    id="password" 
                    placeholder="2-10 Characters"
                    name="password"
                    [(ngModel)]="user.password"
                    #password="ngModel"
                    required
                    minlength="2"
                    maxlength="10">
                    <small *ngIf="user.password.length<=2" style="color: red">Password Too Short</small>   
        </div>
        <button 
            class="btn btn-info mt-3 w-100"
            id="bolder"
            type="submit"
            [disabled]="loginForm.invalid">
            Register Now
        </button>
        
    </form>
    <p class="text-center mt-3">
        <a routerLink="/login">Already Have A User? Login Here</a>
    </p>
    <br>
    <div class="container "><footer class="text-center bg-dark text-white">@2022 - Ashraf Essa</footer></div>
</div>