<div class="container p-4">
    <h4 class="text-center" style="text-transform:capitalize;">Customer {{customer.first}} {{customer.last}}'s Profile</h4>
    <form #customerForm="ngForm" (ngSubmit)="onClose()">
      <div class="form-group">
        <div class="col-6 p-1 d-inline-block">
          <label for="first">First name: </label>
          <input
            type="text"
            class="form-control"
            id="first"
            name="first"
            [(ngModel)]="customer.first"
            #first="ngModel"
            required
            disabled="disabled"
          />
        </div>
        <div class="col-6 p-1 d-inline-block">
          <label for="last">Last name: </label>
          <input
            type="text"
            class="form-control"
            id="last"
            name="last"
            [(ngModel)]="customer.last"
            #last="ngModel"
            required
            disabled="disabled"
          />
        </div>
        <div class="col-6 p-1 d-inline-block">
          <label for="phone">Phone: </label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            [(ngModel)]="customer.phone"
            #phone="ngModel"
            required
            disabled="disabled"
          />
        </div>
        <div class="col-6 p-1 d-inline-block">
          <label for="email">Email: </label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="customer.email"
            #email="ngModel"
            required
            disabled="disabled"
          />
        </div>
        <div class="p-1">
          <label for="address">Address: </label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            [(ngModel)]="customer.address"
            #address="ngModel"
            required
            disabled="disabled"
          />
        </div>
        <div class="p-1">
          <label for="notes">Notes: </label>
          <input
            type="notes"
            class="form-control pb-5"
            id="notes"
            name="notes"
            [(ngModel)]="customer.notes"
            #motes="ngModel"
            required
            disabled="disabled"
          />
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-dark mt-3" type="submit">Close</button>
      </div>
    </form>
  </div>
  